<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>

<body>
    <h1 style="text-align:center; font-family: ui-monospace;">
    	<a href=" {{ url_for('index') }}">Main page</a>
    </h1>
    <h2 style="text-align:center; font-family: ui-monospace;">List of greeted users:</h2>
    <div style="text-align:center; font-family: ui-monospace;">
        {% for name in collection %}
        <div>{{ name }}</div>
        {% endfor %}
    </div>
</body>



</html>