<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>

<body>
    {%if user in collection} 
        <h1 style="text-align:center; font-family: ui-monospace;">I've seen you before, {{ user }}!</h1>
    {%else}
        <h1 style="text-align:center; font-family: ui-monospace;">Greetings, {{ user }}</h1>
    {%endif}
    
    <h2 style="text-align:center; font-family: ui-monospace;">
        <a href=" {{ url_for('index') }}">Go back</a>
    </h2>
</body>

</html>