<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web-service-about</title>
    <style type="text/css">
        #txt{
            width: 300px;
            margin: 0 auto; 
        }
        #btn{
            width: 100px;
        }
    </style>
</head>

<body>
<h1 style="text-align:center;">Enter your name down below:</h1>

<form method="post" action="/name">
    <input type="text" name="name" size="45" id=txt>
    <button type="submit" id=btn>Greet</button>
</form>
<br></br>
<a href="{{ url_for('collection') }}">List of greeted</a>

</html>